@charset "UTF-8";
/* 
    Created on : 26-dic-2016, 18:07:53
    Author     : Lili
*/
html, body{
	background-color: #ffffff;
  margin: 0;
}

.text-white {
   color: #ffffff !important;
}

.text-green {
   color: #00AF66!important;
}

.background-blue {
   background-color: #007DBA !important;
}

.background-green {
    background-color: #00AF66!important;
}

.page{
   padding-top: 4%;
   padding-bottom: 4%;
}


.navigation-bar{
    bottom: 0%;
    position: fixed;
    width: 100%;
}

.navigation-bar span{
   color:#00AF66!important;
}
.app-bar {
    height: 100%;
}

.app-bar-logo img{
   height: 30px;
}

.app-bar-title{
   height: 30px;
}

.app-bar header{
    box-shadow: 0px 0px;
}


.app-bar div {
    color: #ffffff !important;
    background-color: #007DBA !important;
}

.app-bar a {
    color: #ffffff !important;
    background-color: #007DBA !important;
}

.app-bar button {
    color: #ffffff !important;
    background-color: #007DBA !important;
}

.menu-app-bar div {
    color: #ffffff !important;
    background-color: #007DBA !important;
}

.menu-app-bar button {
    color: #ffffff !important;
    background-color: #007DBA !important;
}

